* {
    margin: 0;
    padding: 0;
}

.img {
    display: flex;
    justify-content: center;
    background-color: #c6c0c0;
}
.img img{
    height:200px;
    width:200px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: large;
    background-color: #5e5959;
    list-style: none;
    height: 40px;
    align-items: center;

}

.navbar ul li:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* background-color: #1dbc55; */
}

.box1 {
    font-family: sans-serif;
    font-size: x-large;
    height: 200px;
    width: 400px;
}

.box1 input {
    height: 40px;
    width: 250px;
    border-radius: 7px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.img1 img {

    height: 200px;
    width: 400px;
}

.container2 {
    height: 100px;
    text-align: center;
    padding: 30px;
}

.container3 {
    padding: 20px 0px 10px 40px;
}

.box3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.img2 img {
    height: 300px;
    width: 300px;
    border-radius: 7px;
    border: 1px solid black;
    opacity: 0.9;
}

.img2 img:hover {
    height: 300px;
    width: 300px;
    box-shadow: 5px 0 10px rgb(179, 163, 163);
    cursor: pointer;
}

.img2 button {
    background-color: grey;
    width: 90px;
    height: 30px;
    opacity: 0.8;
    position: relative;
    top: -60px;
    right: -100px;
    border-radius: 5px;
    color: #fff;
    z-index: inherit;
}

.img2 button:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;

}

.img2 h3 {
    background-color: #6c6565;
    opacity: 0.9;
    color: #fff;
    position: relative;
    top: -160px;
}

.ft {
    background-color: lightgrey;
    width: 900px;
    border-radius: 5px;
    height: 150px;
    padding: auto;
    margin: auto;
}

.ft h2 {
    display: flex;
    justify-content: center;
}

.ft div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ft1 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
}

.ft1 a:hover {
    cursor: pointer;
    color: rgb(1, 1, 84);
    border-bottom: 2px solid rgb(17, 136, 210);
}

.ft1 img {}

@media screen and (max-width: 1000px) {
    
        * {
            margin: 0;
            padding: 0;
           
        }
        
        .container1 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 400px;
            /* background-color: #1dbc55; 
            width: 100%; */
        }
        
        .box1 {
            font-family: sans-serif;
            font-size:xx-small;
            height: 50px;
            width: 50px;
        }
        
        .box1 input {
            height: 20px;
            width: 80px;
            border-radius: 7px;
            font-size: x-small;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fff;
        }
        
        .img1 img {
        
            height: 90px;
            width: 90px;
        }
        
        .container2 {
            height: 100px;
            text-align: center;
            padding: 30px;
        }
        
        .container3 {
            padding: 20px 0px 10px 40px;
        }
        
        .box3 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
        }
        
        .img2 img {
            height: 120px;
            width: 120px;
            border-radius: 7px;
            border: 1px solid black;
            opacity: 0.9;
        }
        
        .img2 img:hover {
            height: 120px;
            width: 120px;
            box-shadow: 5px 0 10px rgb(179, 163, 163);
            cursor: pointer;
        }
        
        .img2 button {
            background-color: grey;
            width: 60px;
            height: 30px;
            opacity: 1;
            position: relative;
            top: -40px;
            right: -15px;
            border-radius: 5px;
            color: #fff;
            z-index: inherit;
        }
        
        .img2 button:hover {
            background-color: #fff;
            color: black;
            cursor: pointer;
        
        }
        
        .img2 h3 {
            background-color: #6c6565;
            opacity: 0.9;
            color: #fff;
            position: relative;
            top: -100px;
            font-size: xx-small;
        }
        
        .ft {
            background-color: lightgrey;
            width: 300px;
            border-radius: 7px;
            height: 130px;
            padding: 20px 0 0 0;
            font-size: x-small;
        }
        
        .ft h2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .ft div {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        .ft1 {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0 0 3px;
        
        }
        
        .ft1 a:hover {
            cursor: pointer;
            color: rgb(1, 1, 84);
            border-bottom: 2px solid rgb(17, 136, 210);
        }
        .ft1 img{
            width: 100px;
            height: 100px;
            position: relative;
            top: 30px;
        }
    
}