*{
    margin: 0;
    padding: 0;
}

.img{
    display: flex;
    justify-content: center;
    background-color: #c6c0c0;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar ul{
     display: flex;
     justify-content:space-around;
     color: #fff;
     font-size: large;
     background-color: #5e5959;
     list-style: none;
     height: 40px;
     align-items: center;
    
}
.navbar ul li:hover{
     color: black;
     background-color: #fff;
     cursor: pointer;
}

